
form input {
  width: 400px;
  height: 46px;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  padding: 0 15px;

}
form input:focus{
  outline: none;
}
form label{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #666666;
margin:  4px 0;
padding: 8px;
}
@media (max-width: 1280px){
  form input {
    width: auto;
  }
}